@import 'nib'

a, a:link
	cursor pointer

p.bigger
	font-size 120%

body
	color #707070
	background-color #1A1A1A
	padding-top 60px

div.container
	margin-left auto
	margin-right auto
	width 650px

div.jumbotron
	color #0D0D0D
	background-color #707070

a.btn
	background-color #707070

a:link
	color #2e7d0d

a:visited
	color #1d4f08

footer
	padding-top 30px
	padding-bottom 30px

img
	padding-top 10px
	padding-bottom 10px

table
	tfoot, tbody
		th
			border-top 1px solid #DDD

h1
	padding-bottom 10px
