@import 'nib'

a, a:link
	cursor pointer

body
	color #2e7d0d
	background-color black
	padding-top 60px

div.jumbotron
	color black
	background-color #1d4f08

a."btn btn-default"
	background-color #1d4f08

a:link
	color #d60d0d

a:visited
	color #a60707

table
	tfoot, tbody
		th
			border-top 1px solid #DDD